:root {
    --color1: #92f2f2; 
    --color2: #d6cff1; 
    --color3: #c4f2e5; 
    --color4: #a8d0f0; 
    --color5: #c2dcf2; 
    --color6: #eed5f2; 
    --color7: #9cb9fc; 
    --holographic: 
        radial-gradient(at 30% -5%, var(--color1), var(--color2), transparent 25%),
        radial-gradient(at 50% 70%, var(--color3), transparent 30%),
        radial-gradient(at 70% 0%, var(--color2), transparent 20%),
        linear-gradient(75deg, var(--color1) 5%, transparent, var(--color4), transparent, var(--color6), transparent, var(--color2), transparent, var(--color3) 90%),
        radial-gradient(at 30% 50%, var(--color1), transparent 30%),
        radial-gradient(at 30% 50%, var(--color7), transparent 30%),
        radial-gradient(at 100% 50%, var(--color1), var(--color5), transparent 50%),
        linear-gradient(115deg, var(--color1) 5%, var(--color4) 10%, var(--color2), var(--color6) 20%, var(--color4), var(--color4) 30%, var(--color2), var(--color5) 40%, var(--color1), var(--color4) 70%);
}

body {
    background-color: midnightblue;
    color: white;
    text-align: center;
}

img {
    width: 100%;
    max-width: 25rem;
    border-radius: 20px;
}

#player-card {
    position: relative;
    display: inline-block;
    transition: transform 0.1s ease;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 22px;

    & .shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--holographic);
    opacity: 0;
    transition: opacity 0.1s ease;
    pointer-events: none;
    mix-blend-mode: hard-light;
    }
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
}